& when not (@critical) {
    @color-white: #fff;
    @color-red10: #e02b27;
    @color-gray91: #e8e8e8;
    @color-gray76: #c2c2c2;

    .payment-method-braintree .hosted-control {
        box-sizing: content-box;
    }

    @import 'PayPal_Braintree::css/source/_extend.less';
}
